.top-bar {
  background: #333;
}

.icon-color {
  color: white;
}

.ng-pristine { border: 1px solid green; }
.ng-dirty { border: 1px solid yellow; }
.ng-invalid.ng-dirty { border: 1px solid red; }
.ng-valid.ng-dirty { border: 1px solid green; }
input.ng-invalid-minlength.ng-dirty { border: 1px solid blue; }

#emailListing {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
.panel {
  margin-bottom: 0;
  padding: 0.5rem;
}
.selected {
  background: #A5FFFF;
}
