<div class="small-4 columns" ng-controller="MailListingController">
  <h2>Sidebar</h2>
  <ul id="emailListing">
    <li ng-repeat="mail in email" ng-click="setSelectedMail(mail)">
      <!-- ng-class evals the function and adds that class if true -->
      <div class="row panel" ng-class="{selected: isSelected(mail)}">
        <div class="small-8 columns">{{ mail.from }}</div>
        <div class="small-12 columns">{{ mail.subject }}</div>
      </div>
    </li>
  </ul>
</div>

<div class="small-8 columns" ng-controller="ContentController">
  <div ng-show="!selectedMail">
    <h1>No email selected</h1>
  </div>
  <div ng-show="selectedMail">
    <div class="row header">
      <div class="small-6 columns">{{ selectedMail.subject }}</div>
      <div class="small-6 columns">{{ selectedMail.sent_at }}</div>
    </div>
    <div class="row actions">
      <div class="small-8 columns">{{ selectedMail.from }} to {{ selectedMail.to }}</div>
      <a ng-click="showReply()" class="button radius push-1">Reply</a>
    </div>
    <div class="small-12 columns">
      {{ selectedMail.body }}
    </div>
  </div>
</div>
