<div class="small-4 columns sidebar" ng-controller="MailListingController">
  <input type="text" placeholder="Filter messages" ng-model="search" id="searchbox" />
  <ul id="emailListing">
    <!-- orderBy:arg:true set's reverse=true -->
    <li email-listing class="panel" email="mail" gravatar-size="20" action="setSelectedMail(selectedMail)"
        ng-repeat="mail in ( email | orderBy:'sent_at':true | filter:search )">
        <!-- <h6>transclude text</h6> -->
    </li>
  </ul>
</div>

<div class="small-8 columns contentArea" ng-controller="ContentController">
  <div ng-show="!selectedMail">
    <h1>No email selected</h1>
  </div>
  <div ng-show="selectedMail">
    <form id="replyForm" ng-submit="sendEmailReply()" ng-show="showingReply">
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix">To</span>
        </div>
        <div class="small-11 columns">
          <input ng-model="reply.to" type="email" placeholder="">
        </div>

        <div class="small-12 columns">
          <textarea ng-model="reply.body">{{ reply.body }}</textarea>
        </div>
      </div>

      <button class="button radius" ng-click="sendReply()">Send</button>
      <button class="button radius alert" ng-click="toggleReplyForm()">Cancel</button>
    </form>
    <div class="row header">
      <div class="small-6 columns">
        <strong>Subject:</strong>
        {{ selectedMail.subject }}
      </div>
      <div class="small-6 columns">{{ selectedMail.sent_at | date:'MM/dd/yy' }}</div>
    </div>
    <div class="row actions">
      <div class="small-8 columns">
        <br />
        <strong>From:</strong>
        {{ selectedMail.from.join(", ") }}<br />
        <strong>To:</strong>
        {{ selectedMail.to }}
      </div>
      <a ng-click="toggleReplyForm()" class="button radius push-1">Reply</a>
    </div>
    <div class="small-12 columns" ng-bind="selectedMail.body">
    </div>
  </div>
</div>
